*{
    box-sizing: border-box;
}

body{
    margin: auto;
    padding: 2em;
}

h1{
    color: white;
}

.row{
    padding: 1rem;
}

.barra{
    background-color: #ecb664;
}

.cajaBorde{
    border-style: solid;
    border-color: #fcdb6d;
    height: 30vh;
    padding: 0;
}